.btnContactos, .conteinerContactos .btnFormContacto, .conteinerContactos .suscribite .btnFormContacto {
  width: 150px;
  height: 45px;
  background-color: white;
  border-radius: 10px;
  color: orange;
  font-size: 20px;
  margin: 10px; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(212, 212, 212, 0.801);
  width: 100%; }
  body a {
    color: white;
    text-decoration: none; }
  body a:hover {
    color: black; }
  body .btnWhatsapp {
    position: fixed;
    line-height: 55px;
    bottom: 30px;
    right: 30px; }
    body .btnWhatsapp img {
      position: fixed;
      line-height: 55px;
      bottom: 30px;
      right: 30px; }

/* css para nav */
.row {
  width: 100%;
  margin: 0; }
  .row .navbar {
    background-image: linear-gradient(to right, orange, orange, black); }
    .row .navbar a {
      color: white;
      text-decoration: none; }
    .row .navbar a:hover {
      color: black; }
    .row .navbar .name {
      font-family: 'Cedarville Cursive', cursive;
      font-size: 50px;
      margin-left: 50px;
      color: black;
      font-weight: 600; }
    @media (max-width: 768px) {
      .row .navbar .name {
        font-size: 35px;
        margin-left: 20px; } }
    .row .navbar .navbar-toggler {
      margin-right: 50px; }
    .row .navbar .collapse {
      color: white;
      justify-content: space-between;
      width: 100%;
      /* span{
                position: absolute;
                left: calc(50% - 2px);
                top: 60px;
            } */ }
      .row .navbar .collapse .conteiner ul {
        justify-content: center; }
      .row .navbar .collapse .conteiner .navbar-nav a {
        color: white; }
      .row .navbar .collapse .conteiner .navbar-nav .dropdown-menu a {
        color: black; }
      .row .navbar .collapse .cuenta {
        text-align: center; }
        .row .navbar .collapse .cuenta .btnCuenta {
          width: 100px;
          height: 40px;
          background-color: orange;
          border: 2px solid rgba(255, 68, 0, 0.575);
          border-radius: 7px;
          font-size: 19px; }
        .row .navbar .collapse .cuenta .btnCarrito {
          width: 30px;
          height: 40px;
          background-color: orange;
          border: 2px solid rgba(255, 68, 0, 0.575);
          border-radius: 7px;
          margin-left: 5px; }
          .row .navbar .collapse .cuenta .btnCarrito .imgCarrito {
            width: 16px;
            height: 16px;
            margin: 0 auto; }
      .row .navbar .collapse .conteinerBuscador {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        position: relative;
        border-radius: 30px;
        border: 2px solid black;
        transition: all 500ms ease; }
      .row .navbar .collapse input {
        width: 90%;
        height: 100%;
        background: transparent;
        outline: 0;
        border-style: none;
        font-size: 25px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 0 20px;
        box-sizing: border-box; }
        .row .navbar .collapse input::placeholder {
          font-size: 17px; }
      .row .navbar .collapse label {
        position: absolute;
        right: 12px;
        top: 0;
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: transparent;
        transform: rotateZ(-90deg);
        transition: all 1s ease;
        cursor: pointer; }
      .row .navbar .collapse .conteinerBuscador:hover {
        width: 33%; }
      .row .navbar .collapse .conteinerBuscador:hover span {
        width: 0; }
      .row .navbar .collapse .conteinerBuscador:hover label {
        color: white;
        transform: rotateZ(0deg); }

/* termina css para nav */
/* css info compras */
main .infoCompra {
  display: flex;
  justify-content: space-around;
  height: 150px;
  margin-top: 30px; }
  main .infoCompra .btnCompra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 33%;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: orange;
    border: 1px solid white;
    border-radius: 20px; }
    main .infoCompra .btnCompra img {
      margin-right: 15px;
      margin-left: 15px; }

/* termina css info compras */
/* css para categorias */
main .categoria {
  display: grid;
  height: 800px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "buzo zapatillas zapatillas" "buzo cuellos remeras" "buzo accesorio accesorio";
  justify-content: center;
  width: 100%; }
  main .categoria .buzos {
    grid-area: buzo;
    background-image: url(../pic/buzo2.jpeg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: black; }
    main .categoria .buzos h4 {
      margin-top: 100px; }
  main .categoria .buzos:hover {
    opacity: 0.8; }
  main .categoria .zapatillas {
    grid-area: zapatillas;
    background-color: yellowgreen;
    margin: 10px;
    background-image: url(../pic/zapatillas.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    color: black; }
  main .categoria .zapatillas:hover {
    opacity: 0.8; }
  main .categoria .cuellos {
    grid-area: cuellos;
    background-color: #32bbcd;
    margin: 10px;
    background-image: url(../pic/cuellito.jpeg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 50px; }
  main .categoria .cuellos:hover {
    opacity: 0.8; }
  main .categoria .remeras {
    grid-area: remeras;
    background-color: #cd32c0;
    margin: 10px;
    background-image: url(../pic/remera.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: black; }
  main .categoria .remeras:hover {
    opacity: 0.8; }
  main .categoria .accesorios {
    grid-area: accesorio;
    background-color: lightgray;
    background-image: url(../pic/accesorio1-2.jpeg);
    background-position-y: bottom;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: white; }
  main .categoria .accesorios:hover {
    opacity: 0.8; }
  main .categoria .btnVerCategoria {
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 6px;
    overflow: hidden;
    font-size: 20px; }
  main .categoria .tipoCategoria {
    margin-top: 15px;
    font-size: 45px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.39); }

/* termina css para categorias */
.modal .whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #095e54;
  color: white; }
  .modal .whatsapp .btn-close {
    margin: auto 10px; }

.modal .modal-bodyWp {
  background-color: #e6ddd4; }
  .modal .modal-bodyWp .chat {
    background-color: white;
    width: 250px;
    height: 100px;
    margin: 10px;
    border-radius: 5px; }
    .modal .modal-bodyWp .chat .nombreChat {
      font-size: 20px;
      margin: 5px;
      color: #555555; }
    .modal .modal-bodyWp .chat .mensaje {
      margin-left: 10px; }
    .modal .modal-bodyWp .chat .hora {
      text-align: right;
      margin-right: 5px; }

.modal .modal-footer .btnChat {
  width: 80%;
  margin: 0 auto;
  background-color: #4fce5d;
  border-radius: 15px;
  color: white;
  border: #4fce5d;
  height: 40px; }

.paraTi {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  /*    .card{
        width: 30%;
        overflow: hidden;  
        margin-bottom: 10px;  
        .conteinerImg{
            overflow: hidden;
            .imgProducto{
                width: 100%;
                transition: 0.5s;
            }
            .imgProducto1{
                width: 100%;
            }
            .imgProducto2{
                display: none;
                width: 100%;
            }
            .action{
                position: absolute;
                top: 10px;
                right: 10px;
                li{
                    position: relative;
                    list-style: none;
                    width: 40px;
                    height: 40px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 4px;
                    cursor: pointer;
                    opacity: 0;
                    transition: 0.5s;
                    span{
                        position: absolute;
                        right: 50px;
                        top: 50%;
                        transform: translateY(-50%);
                        white-space: nowrap;
                        padding: 4px 60px;
                        background-color: white;
                        color: #333;
                        font-weight: 500;
                        font-size: 12px;
                        border-radius: 4px;
                        pointer-events: none;
                        opacity: 0;
                        transition: 0.5s;
                    }
                }
                li:hover{
                    background-color: red;
                    color: white;
                    span{
                        opacity: 1;
                    }
                }
            }
        }
        .btnVerProducto{
            background-image: linear-gradient(to right, orange, rgb(255, 136, 0));
            border-radius: 6px;
            color: white;
            font-weight: 700;
            width: 60%;
            height: 35px;
            transition: 0.1s;
            float: right;
            font-size:15px;
        
        }
        .btnVerProducto:hover{
            background-image: linear-gradient(to right, black , orange);
        }
        .precio{
            margin-left: 10px;
            color: rgb(59, 59, 59);
        }
        .card-text{
            margin-left: 2px;
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: 600;
        }
    }
    .card:hover{
        .imgProducto{
        transform: scale(1.5);
        }
        .imgProducto1{
            display: none;
        }
        .imgProducto2{
            display: flex;
        }
        .action li{
            opacity: 1;
        }

    }
  */
  /* .container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orange;
    clip-path: circle(1 50px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "Bukee";
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
   
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    border-radius: 20PX;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {  
    background: #B90000;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 

.container .card .contentBx .buy .price{
    font-size: 25px;
    color: white;
} */ }
  .paraTi .container {
    position: relative;
    margin: 20px;
    width: 30%; }
    .paraTi .container .card {
      position: relative;
      width: 100%;
      height: 450px;
      background: #1a1a1a;
      border-radius: 20px;
      overflow: hidden; }
      .paraTi .container .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: orange;
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out; }
      .paraTi .container .card:after {
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 5em;
        font-weight: 800;
        font-style: italic;
        color: rgba(255, 255, 255, 0.103); }
      .paraTi .container .card .imgBx {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        transition: .5s; }
        .paraTi .container .card .imgBx img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.7s;
          width: 270px;
          border-radius: 20PX; }
        .paraTi .container .card .imgBx .accesorio2 {
          display: none;
          transition: 0.7s; }
      .paraTi .container .card:hover:before {
        clip-path: circle(300px at 80% -20%); }
      .paraTi .container .card:hover .imgBx {
        top: 5%;
        transform: translateY(-25%); }
        .paraTi .container .card:hover .imgBx img {
          width: 230px; }
        .paraTi .container .card:hover .imgBx .accesorio {
          display: none; }
        .paraTi .container .card:hover .imgBx .accesorio2 {
          display: flex; }
      .paraTi .container .card:hover .zapas {
        transform: translateY(-25%) rotate(45deg); }
      .paraTi .container .card:hover .contentBx {
        height: 210px; }
        .paraTi .container .card:hover .contentBx .size {
          opacity: 1;
          visibility: visible;
          transition-delay: .5s; }
        .paraTi .container .card:hover .contentBx .color {
          opacity: 1;
          visibility: visible;
          transition-delay: .6s; }
        .paraTi .container .card:hover .contentBx a {
          opacity: 1;
          transform: translateY(0px);
          transition-delay: .7s; }
        .paraTi .container .card:hover .contentBx h2 {
          letter-spacing: 1px; }
        .paraTi .container .card:hover .contentBx .buy .action li {
          opacity: 1; }
      .paraTi .container .card .contentBx {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 90; }
        .paraTi .container .card .contentBx h2 {
          position: relative;
          font-weight: 600;
          letter-spacing: 5px;
          color: #fff; }
        .paraTi .container .card .contentBx .color, .paraTi .container .card .contentBx .size {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2px 20px;
          transition: .5s;
          opacity: 0;
          visibility: hidden; }
          .paraTi .container .card .contentBx .color h3, .paraTi .container .card .contentBx .size h3 {
            color: white;
            font-weight: 300;
            font-size: 10px;
            text-transform: uppercase; }
        .paraTi .container .card .contentBx .size span {
          width: 26px;
          height: 26px;
          text-align: center;
          line-height: 26px;
          font-size: 14px;
          display: inline-block;
          color: #111;
          background: #fff;
          margin: 0 5px;
          transition: .5s;
          color: #111;
          border-radius: 4px;
          cursor: pointer; }
          .paraTi .container .card .contentBx .size span:hover {
            /* other bug */
            background: #B90000; }
        .paraTi .container .card .contentBx .size .btn {
          justify-items: center;
          background: transparent;
          border: gray solid 1px;
          height: 35px; }
        .paraTi .container .card .contentBx .color span {
          width: 20px;
          height: 20px;
          background: #ff0;
          border-radius: 50%;
          margin: 0 5px;
          cursor: pointer; }
        .paraTi .container .card .contentBx .buy .price {
          font-size: 25px;
          color: white; }
        .paraTi .container .card .contentBx .buy .action {
          position: absolute;
          bottom: 300px;
          right: 10px; }
          .paraTi .container .card .contentBx .buy .action li {
            position: relative;
            list-style: none;
            width: 30px;
            height: 30px;
            background: rgba(255, 255, 255, 0.356);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4px;
            cursor: pointer;
            opacity: 0;
            transition: 0.5s; }
            .paraTi .container .card .contentBx .buy .action li span {
              position: absolute;
              right: 50px;
              top: 50%;
              transform: translateY(-50%);
              white-space: nowrap;
              padding: 4px 60px;
              background-color: #626262;
              color: white;
              font-weight: 500;
              font-size: 12px;
              border-radius: 4px;
              pointer-events: none;
              opacity: 0;
              transition: 0.5s; }
            .paraTi .container .card .contentBx .buy .action li:hover {
              background-color: red;
              color: white; }
              .paraTi .container .card .contentBx .buy .action li:hover span {
                opacity: 1; }
        .paraTi .container .card .contentBx .buy .btnVerProducto {
          background-image: linear-gradient(to right, orange, #ff8800);
          border-radius: 6px;
          color: white;
          font-weight: 700;
          width: 60%;
          height: 35px;
          transition: 0.1s;
          font-size: 15px; }
          .paraTi .container .card .contentBx .buy .btnVerProducto:hover {
            background-image: linear-gradient(to right, black, orange); }

/* pagina productos */
.titulo2 {
  position: static;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Cedarville Cursive', cursive;
  margin: 20px; }

/* pag productos */
.seccionProductos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  /*    .card{
        width: 30%;
        overflow: hidden;  
        margin-bottom: 10px;  
        .conteinerImg{
            overflow: hidden;
            .imgProducto{
                width: 100%;
                transition: 0.5s;
            }
            .imgProducto1{
                width: 100%;
            }
            .imgProducto2{
                display: none;
                width: 100%;
            }
            .action{
                position: absolute;
                top: 10px;
                right: 10px;
                li{
                    position: relative;
                    list-style: none;
                    width: 40px;
                    height: 40px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 4px;
                    cursor: pointer;
                    opacity: 0;
                    transition: 0.5s;
                    span{
                        position: absolute;
                        right: 50px;
                        top: 50%;
                        transform: translateY(-50%);
                        white-space: nowrap;
                        padding: 4px 60px;
                        background-color: white;
                        color: #333;
                        font-weight: 500;
                        font-size: 12px;
                        border-radius: 4px;
                        pointer-events: none;
                        opacity: 0;
                        transition: 0.5s;
                    }
                }
                li:hover{
                    background-color: red;
                    color: white;
                    span{
                        opacity: 1;
                    }
                }
            }
        }
        .btnVerProducto{
            background-image: linear-gradient(to right, orange, rgb(255, 136, 0));
            border-radius: 6px;
            color: white;
            font-weight: 700;
            width: 60%;
            height: 35px;
            transition: 0.1s;
            float: right;
            font-size:15px;
        
        }
        .btnVerProducto:hover{
            background-image: linear-gradient(to right, black , orange);
        }
        .precio{
            margin-left: 10px;
            color: rgb(59, 59, 59);
        }
        .card-text{
            margin-left: 2px;
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: 600;
        }
    }
    .card:hover{
        .imgProducto{
        transform: scale(1.5);
        }
        .imgProducto1{
            display: none;
        }
        .imgProducto2{
            display: flex;
        }
        .action li{
            opacity: 1;
        }

    }
  */
  /* .container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orange;
    clip-path: circle(1 50px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "Bukee";
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
   
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    border-radius: 20PX;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {  
    background: #B90000;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 

.container .card .contentBx .buy .price{
    font-size: 25px;
    color: white;
} */ }
  .seccionProductos h3 {
    margin: 5px; }
  .seccionProductos .container {
    position: relative;
    margin: 20px;
    width: 30%; }
    .seccionProductos .container .card {
      position: relative;
      width: 100%;
      height: 450px;
      background: #1a1a1a;
      border-radius: 20px;
      overflow: hidden; }
      .seccionProductos .container .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: orange;
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out; }
      .seccionProductos .container .card:after {
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 5em;
        font-weight: 800;
        font-style: italic;
        color: rgba(255, 255, 255, 0.103); }
      .seccionProductos .container .card .imgBx {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        transition: .5s; }
        .seccionProductos .container .card .imgBx img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.7s;
          width: 270px;
          border-radius: 20PX; }
        .seccionProductos .container .card .imgBx .accesorio2 {
          display: none;
          transition: 0.7s; }
      .seccionProductos .container .card:hover:before {
        clip-path: circle(300px at 80% -20%); }
      .seccionProductos .container .card:hover .imgBx {
        top: 5%;
        transform: translateY(-25%); }
        .seccionProductos .container .card:hover .imgBx img {
          width: 230px; }
        .seccionProductos .container .card:hover .imgBx .accesorio {
          display: none; }
        .seccionProductos .container .card:hover .imgBx .accesorio2 {
          display: flex; }
      .seccionProductos .container .card:hover .zapas {
        transform: translateY(-25%) rotate(45deg); }
      .seccionProductos .container .card:hover .contentBx {
        height: 210px; }
        .seccionProductos .container .card:hover .contentBx .size {
          opacity: 1;
          visibility: visible;
          transition-delay: .5s; }
        .seccionProductos .container .card:hover .contentBx .color {
          opacity: 1;
          visibility: visible;
          transition-delay: .6s; }
        .seccionProductos .container .card:hover .contentBx a {
          opacity: 1;
          transform: translateY(0px);
          transition-delay: .7s; }
        .seccionProductos .container .card:hover .contentBx h2 {
          letter-spacing: 1px; }
        .seccionProductos .container .card:hover .contentBx .buy .action li {
          opacity: 1; }
      .seccionProductos .container .card .contentBx {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 90; }
        .seccionProductos .container .card .contentBx h2 {
          position: relative;
          font-weight: 600;
          letter-spacing: 5px;
          color: #fff; }
        .seccionProductos .container .card .contentBx .color, .seccionProductos .container .card .contentBx .size {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2px 20px;
          transition: .5s;
          opacity: 0;
          visibility: hidden; }
          .seccionProductos .container .card .contentBx .color h3, .seccionProductos .container .card .contentBx .size h3 {
            color: white;
            font-weight: 300;
            font-size: 10px;
            text-transform: uppercase; }
        .seccionProductos .container .card .contentBx .size span {
          width: 26px;
          height: 26px;
          text-align: center;
          line-height: 26px;
          font-size: 14px;
          display: inline-block;
          color: #111;
          background: #fff;
          margin: 0 5px;
          transition: .5s;
          color: #111;
          border-radius: 4px;
          cursor: pointer; }
          .seccionProductos .container .card .contentBx .size span:hover {
            /* other bug */
            background: #B90000; }
        .seccionProductos .container .card .contentBx .size .btn {
          justify-items: center;
          background: transparent;
          border: gray solid 1px;
          height: 35px; }
        .seccionProductos .container .card .contentBx .color span {
          width: 20px;
          height: 20px;
          background: #ff0;
          border-radius: 50%;
          margin: 0 5px;
          cursor: pointer; }
        .seccionProductos .container .card .contentBx .buy .price {
          font-size: 25px;
          color: white; }
        .seccionProductos .container .card .contentBx .buy .action {
          position: absolute;
          bottom: 300px;
          right: 10px; }
          .seccionProductos .container .card .contentBx .buy .action li {
            position: relative;
            list-style: none;
            width: 30px;
            height: 30px;
            background: rgba(255, 255, 255, 0.356);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4px;
            cursor: pointer;
            opacity: 0;
            transition: 0.5s; }
            .seccionProductos .container .card .contentBx .buy .action li span {
              position: absolute;
              right: 50px;
              top: 50%;
              transform: translateY(-50%);
              white-space: nowrap;
              padding: 4px 60px;
              background-color: #626262;
              color: white;
              font-weight: 500;
              font-size: 12px;
              border-radius: 4px;
              pointer-events: none;
              opacity: 0;
              transition: 0.5s; }
            .seccionProductos .container .card .contentBx .buy .action li:hover {
              background-color: red;
              color: white; }
              .seccionProductos .container .card .contentBx .buy .action li:hover span {
                opacity: 1; }
        .seccionProductos .container .card .contentBx .buy .btnVerProducto {
          background-image: linear-gradient(to right, orange, #ff8800);
          border-radius: 6px;
          color: white;
          font-weight: 700;
          width: 60%;
          height: 35px;
          transition: 0.1s;
          font-size: 15px; }
          .seccionProductos .container .card .contentBx .buy .btnVerProducto:hover {
            background-image: linear-gradient(to right, black, orange); }

/* fin pag productos */
/* pag contactos */
.conteinerContactos {
  background-image: url(../pic/fondoNosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: auto; }
  .conteinerContactos .formContacto {
    width: 50%;
    text-align: center;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.63);
    border: 2px solid black;
    border-radius: 10px; }
    .conteinerContactos .formContacto h1 {
      margin-top: 50px;
      font-size: 25px; }
  .conteinerContactos .formContact {
    width: 40%;
    margin: 3px auto;
    text-align: center; }
    .conteinerContactos .formContact #nombre {
      width: 100%;
      height: 45px;
      font-size: 25px;
      color: white;
      border: 2px solid black;
      border-radius: 10px;
      background-color: black; }
      .conteinerContactos .formContact #nombre::placeholder {
        padding-left: 10px;
        font-size: 20px; }
    .conteinerContactos .formContact #email {
      width: 47%;
      height: 45px;
      font-size: 25px;
      color: white;
      border: 2px solid black;
      border-radius: 10px;
      background-color: black;
      margin-top: 10px; }
      .conteinerContactos .formContact #email::placeholder {
        padding-left: 10px;
        font-size: 20px; }
    .conteinerContactos .formContact #telefono {
      width: 49%;
      height: 45px;
      font-size: 25px;
      margin-top: 10px;
      color: white;
      border: 2px solid black;
      border-radius: 10px;
      background-color: black; }
      .conteinerContactos .formContact #telefono::placeholder {
        padding-left: 10px;
        font-size: 20px; }
    .conteinerContactos .formContact #mensaje {
      width: 100%;
      height: 100px;
      font-size: 25px;
      color: white;
      border: 2px solid black;
      border-radius: 10px;
      background-color: black;
      margin-top: 10px; }
      .conteinerContactos .formContact #mensaje::placeholder {
        padding-left: 10px;
        font-size: 20px; }
  .conteinerContactos .btnFormContacto {
    margin: 10px  auto; }
  .conteinerContactos .btn2 {
    width: 100px;
    height: 30px;
    background-color: orange;
    margin-top: 10px;
    overflow: hidden; }
  .conteinerContactos .suscribite {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.63);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px; }
    .conteinerContactos .suscribite h3 {
      margin-bottom: 10px; }
    .conteinerContactos .suscribite #suscribite {
      width: 100%;
      height: 45px;
      margin: 0 auto;
      border: 2px solid black;
      border-radius: 10px;
      background-color: black;
      color: white; }
      .conteinerContactos .suscribite #suscribite::placeholder {
        text-align: center; }
    .conteinerContactos .suscribite .btn2 {
      width: 100px;
      height: 30px;
      background-color: orange;
      margin-top: 10px;
      overflow: hidden; }
    .conteinerContactos .suscribite .btnFormContacto {
      margin: 10px auto; }
  .conteinerContactos .contactos {
    display: none;
    grid-area: contacto;
    /* background-image: url(../pic/img-contactanos.png); */
    /*  background-repeat: no-repeat;
        background-position: bottom;
        background-size: 90%;
        background-position-y: 400px; */
    background-image: linear-gradient(to right, rgba(212, 212, 212, 0.801), orange);
    margin: auto 0 auto auto;
    font-size: 20px;
    width: 100%;
    height: 600px;
    text-align: center;
    color: white;
    padding-top: 100px; }
    .conteinerContactos .contactos .li {
      margin-top: 30px;
      list-style: none;
      color: white; }

/* fin pag contactos */
/* pag preguntas frecuentes */
.preguntasFrecuentes {
  background-image: url(../pic/preguntas-frecuentes.png);
  background-repeat: no-repeat;
  background-position: center; }
  .preguntasFrecuentes h1 {
    margin: 15px;
    font-size: 25px; }
  .preguntasFrecuentes .pregunta {
    border-radius: 20px;
    height: auto;
    padding: 1px; }
    .preguntasFrecuentes .pregunta h2 {
      margin: 20px;
      text-align: center;
      margin-top: 35px; }
    .preguntasFrecuentes .pregunta .preguntaNaranja {
      background-color: rgba(255, 166, 0, 0.678);
      width: 90%;
      margin: 0 auto; }
    .preguntasFrecuentes .pregunta .preguntaNegro {
      background-color: rgba(136, 88, 0, 0.685);
      color: white;
      width: 80%;
      margin: 0 auto; }
  .preguntasFrecuentes .respuesta {
    margin: 0 auto;
    width: 50%;
    background-color: orange;
    border-radius: 20px; }
  .preguntasFrecuentes .contactar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 100px; }
    .preguntasFrecuentes .contactar .btnContactar {
      background-color: black;
      color: white;
      width: 100px;
      height: 30px;
      margin-left: 25px;
      border-radius: 6px; }

/* PAG SOBRE NOSOTROS */
.sobreNosotros {
  display: flex;
  flex-direction: column;
  background-color: white; }
  .sobreNosotros h1 {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    font-size: 80px;
    border-bottom: 2px solid black; }
  .sobreNosotros p {
    text-align: center;
    font-size: 50px; }
  .sobreNosotros .mapa {
    width: 90%;
    margin: 20px auto; }

/* css footer */
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to right, orange, orange, black); }
  footer .infoFooter {
    margin: auto 0px;
    list-style: none; }
  footer .logoRedes {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    justify-content: center; }
    footer .logoRedes .name {
      font-family: 'Cedarville Cursive', cursive;
      font-size: 50px;
      margin-left: 50px;
      color: black;
      font-weight: 600; }
    @media (max-width: 768px) {
      footer .logoRedes .name {
        font-size: 35px;
        margin-left: 20px; } }
    footer .logoRedes .logoName {
      margin: 0 auto; }
    footer .logoRedes .redes {
      display: inline-block; }
  footer .navegacionFooter {
    margin: auto 0;
    list-style: none; }

/* termina css footer */
/* VISTA PARA MOVILE */
@media (max-width: 768px) {
  body {
    width: 100%; }
    body .carousel {
      width: 100%; }
    body .infoCompra .btnCompra {
      font-size: small;
      height: 90px;
      margin: 0 auto; }
    body .paraTi {
      display: none; }
    body .masVendidos {
      display: none; }
    body .titulo {
      display: none; }
    body .categoria {
      display: grid;
      height: 900px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: "accesorio accesorio" "buzo cuellos" "buzo remeras" "zapatillas zapatillas";
      width: 100%; }
      body .categoria .tipoCategoria {
        font-size: 50%;
        margin-top: 10px; }
      body .categoria .btnVerCategoria {
        width: 50%;
        height: 30px;
        font-size: 15px; }
  .seccionProductos {
    flex-direction: column; }
    .seccionProductos .container {
      width: 90%;
      margin: 20px auto; }
  .conteinerContactos {
    overflow: hidden; }
    .conteinerContactos .formContacto {
      width: 80%; }
      .conteinerContactos .formContacto h1 {
        font-size: 15px;
        margin: 10px; }
    .conteinerContactos .formContact {
      width: 70%; }
      .conteinerContactos .formContact #nombre {
        width: 80%; }
      .conteinerContactos .formContact #email {
        width: 80%; }
      .conteinerContactos .formContact #telefono {
        width: 80%; }
      .conteinerContactos .formContact #mensaje {
        width: 80%; }
    .conteinerContactos .suscribite {
      margin-top: 20px;
      width: 90%;
      border: 2px solid black;
      border-radius: 10px;
      padding: 20px; }
  .navegacionFooter {
    display: none; }
  .infoFooter {
    display: none; }
  .sobreNosotros h1 {
    font-size: 50px; }
  .sobreNosotros p {
    font-size: 25px; }
  .infoCompra {
    height: 200px; }
    .infoCompra .btnCompra {
      display: flex;
      flex-direction: column; }
      .infoCompra .btnCompra img {
        display: none; } }
