
 .container {
    position: relative;
    margin: 20px;
    width: 350px;
    .card {
        position: relative;
        width: 100%;
        height: 450px;
        background: #db7500;
        border-radius: 20px;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(255, 185, 79);
            clip-path: circle( 150px at 80% 20%);
            transition: 0.5s ease-in-out;
        }
        &:after {
            position: absolute;
            top: 50%;
            left: 10%;
            font-size: 5em;
            font-weight: 800;
            font-style: italic;
            color: rgba(255, 255, 255, 0.103);
        
        }
        .imgBx {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 100%;
            transition: .5s;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.7s;
                width: 270px ;
                border-radius: 20PX;
            }
            .accesorio2{
                display: none;
                transition: 0.7s;
            }
            
        }
        &:hover {
            &:before {
                clip-path: circle(300px at 80% -20%);
            }
            .imgBx {
            top: 5%;
            transform: translateY(-25%);
                
                img{
                    width: 230px;
                }
                .accesorio{
                    display: none;
                }
                .accesorio2{
                    display: flex;
                }
            }
            .zapas{
                transform: translateY(-25%) rotate(45deg);
            }
            .contentBx {
                height: 210px;
                .size {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: .5s;
                }
                .color {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: .6s;
                }
                a {
                    opacity: 1;
                    transform: translateY(0px);
                    transition-delay: .7s;
                }
                h2 {
                    letter-spacing: 1px;    
                }
                .buy{
                    .action{
                        li{
                        opacity: 1;
                        }
                    }
               }
            }
            
        }
        .contentBx {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            transition: 1s;
            z-index: 90;
            h2 {
                position: relative;
                font-weight: 600;
                letter-spacing: 5px;
                color: rgb(0, 0, 0);
            }
            .color, .size {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px 20px;
                transition: .5s;
                opacity: 0;
                visibility: hidden;
                h3 {
                    color: rgb(0, 0, 0);
                    font-weight: 300;
                    font-size: 10px;
                    text-transform: uppercase;
                    
                }
            }
            .size{
                span {
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    line-height: 26px;
                    font-size: 14px;
                    display: inline-block;
                    color: rgb(255, 255, 255);
                    background: rgb(0, 0, 0);
                    margin: 0 5px;
                    transition: .5s;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover {  /* other bug */
                        background: #B90000;
                    }
                }
                .btn{
                    justify-items: center;
                    background: transparent;
                    border: gray solid 1px;
                    height: 35px;
                }
            }
            .color{
                span {
                    width: 20px;
                    height: 20px;
                    background: #ff0;
                    border-radius: 50%;
                    margin: 0 5px;
                    cursor: pointer;
                }
            }
            
            .buy{ 
                .price{
                    font-size: 25px;
                    color: rgb(0, 0, 0);
                }
                .action{
                    position: absolute;
                    bottom: 300px;
                    right: 10px;
                    li{
                        position: relative;
                        list-style: none;
                        width: 30px;
                        height: 30px;
                        background: rgba(255, 255, 255, 0.356);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 4px;
                        cursor: pointer;
                        opacity: 0;
                        transition: 0.5s;
                        a{
                            position: relative;
                        }
                        span{
                            position: absolute;
                            right: 50px;
                            top: 50%;
                            transform: translateY(-50%);
                            white-space: nowrap;
                            padding: 4px 60px;
                            background-color: rgb(98, 98, 98);
                            color: rgb(255, 255, 255);
                            font-weight: 500;
                            font-size: 12px;
                            border-radius: 4px;
                            pointer-events: none;
                            opacity: 0;
                            transition: 0.5s;
                        }
                        &:hover{
                            background-color: red;
                            color: white;
                            span{
                                opacity: 1;
                            }
                        }
                    }
                    
                }
                .btnVerProducto{
                    background-image: linear-gradient(to right, orange, rgb(255, 136, 0));
                    border-radius: 6px;
                    color: white;
                    font-weight: 700;
                    width: 60%;
                    height: 35px;
                    transition: 0.1s;
                    font-size:15px;
                    &:hover{
                        background-image: linear-gradient(to right, black , orange);
                    }
                }
            }
        }
        
    }
}
