
 /*    .card{
        width: 30%;
        overflow: hidden;  
        margin-bottom: 10px;  
        .conteinerImg{
            overflow: hidden;
            .imgProducto{
                width: 100%;
                transition: 0.5s;
            }
            .imgProducto1{
                width: 100%;
            }
            .imgProducto2{
                display: none;
                width: 100%;
            }
            .action{
                position: absolute;
                top: 10px;
                right: 10px;
                li{
                    position: relative;
                    list-style: none;
                    width: 40px;
                    height: 40px;
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 4px;
                    cursor: pointer;
                    opacity: 0;
                    transition: 0.5s;
                    span{
                        position: absolute;
                        right: 50px;
                        top: 50%;
                        transform: translateY(-50%);
                        white-space: nowrap;
                        padding: 4px 60px;
                        background-color: white;
                        color: #333;
                        font-weight: 500;
                        font-size: 12px;
                        border-radius: 4px;
                        pointer-events: none;
                        opacity: 0;
                        transition: 0.5s;
                    }
                }
                li:hover{
                    background-color: red;
                    color: white;
                    span{
                        opacity: 1;
                    }
                }
            }
        }
        .btnVerProducto{
            background-image: linear-gradient(to right, orange, rgb(255, 136, 0));
            border-radius: 6px;
            color: white;
            font-weight: 700;
            width: 60%;
            height: 35px;
            transition: 0.1s;
            float: right;
            font-size:15px;
        
        }
        .btnVerProducto:hover{
            background-image: linear-gradient(to right, black , orange);
        }
        .precio{
            margin-left: 10px;
            color: rgb(59, 59, 59);
        }
        .card-text{
            margin-left: 2px;
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: 600;
        }
    }
    .card:hover{
        .imgProducto{
        transform: scale(1.5);
        }
        .imgProducto1{
            display: none;
        }
        .imgProducto2{
            display: flex;
        }
        .action li{
            opacity: 1;
        }

    }
  */

 .container {
    position: relative;
    margin: 20px;
    width: 30%;
    .card {
        position: relative;
        width: 100%;
        height: 450px;
        background: #1a1a1a;
        border-radius: 20px;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: orange;
            clip-path: circle( 150px at 80% 20%);
            transition: 0.5s ease-in-out;
        }
        &:after {
            position: absolute;
            top: 50%;
            left: 10%;
            font-size: 5em;
            font-weight: 800;
            font-style: italic;
            color: rgba(255, 255, 255, 0.103);
        
        }
        .imgBx {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 100%;
            transition: .5s;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.7s;
                width: 270px ;
                border-radius: 20PX;
            }
            .accesorio2{
                display: none;
                transition: 0.7s;
            }
            
        }
        &:hover {
            &:before {
                clip-path: circle(300px at 80% -20%);
            }
            .imgBx {
            top: 5%;
            transform: translateY(-25%);
                
                img{
                    width: 230px;
                }
                .accesorio{
                    display: none;
                }
                .accesorio2{
                    display: flex;
                }
            }
            .zapas{
                transform: translateY(-25%) rotate(45deg);
            }
            .contentBx {
                height: 210px;
                .size {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: .5s;
                }
                .color {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: .6s;
                }
                a {
                    opacity: 1;
                    transform: translateY(0px);
                    transition-delay: .7s;
                }
                h2 {
                    letter-spacing: 1px;    
                }
                .buy{
                    .action{
                        li{
                        opacity: 1;
                        }
                    }
               }
            }
            
        }
        .contentBx {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            transition: 1s;
            z-index: 90;
            h2 {
                position: relative;
                font-weight: 600;
                letter-spacing: 5px;
                color: #fff;
            }
            .color, .size {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px 20px;
                transition: .5s;
                opacity: 0;
                visibility: hidden;
                h3 {
                    color: white;
                    font-weight: 300;
                    font-size: 10px;
                    text-transform: uppercase;
                    
                }
            }
            .size{
                span {
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    line-height: 26px;
                    font-size: 14px;
                    display: inline-block;
                    color: #111;
                    background: #fff;
                    margin: 0 5px;
                    transition: .5s;
                    color: #111;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover {  /* other bug */
                        background: #B90000;
                    }
                }
                .btn{
                    justify-items: center;
                    background: transparent;
                    border: gray solid 1px;
                    height: 35px;
                }
            }
            .color{
                span {
                    width: 20px;
                    height: 20px;
                    background: #ff0;
                    border-radius: 50%;
                    margin: 0 5px;
                    cursor: pointer;
                }
            }
            
            .buy{ 
                .price{
                    font-size: 25px;
                    color: white;
                }
                .action{
                    position: absolute;
                    bottom: 300px;
                    right: 10px;
                    li{
                        position: relative;
                        list-style: none;
                        width: 30px;
                        height: 30px;
                        background: rgba(255, 255, 255, 0.356);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 4px;
                        cursor: pointer;
                        opacity: 0;
                        transition: 0.5s;
                        span{
                            position: absolute;
                            right: 50px;
                            top: 50%;
                            transform: translateY(-50%);
                            white-space: nowrap;
                            padding: 4px 60px;
                            background-color: rgb(98, 98, 98);
                            color: rgb(255, 255, 255);
                            font-weight: 500;
                            font-size: 12px;
                            border-radius: 4px;
                            pointer-events: none;
                            opacity: 0;
                            transition: 0.5s;
                        }
                        &:hover{
                            background-color: red;
                            color: white;
                            span{
                                opacity: 1;
                            }
                        }
                    }
                    
                }
                .btnVerProducto{
                    background-image: linear-gradient(to right, orange, rgb(255, 136, 0));
                    border-radius: 6px;
                    color: white;
                    font-weight: 700;
                    width: 60%;
                    height: 35px;
                    transition: 0.1s;
                    font-size:15px;
                    &:hover{
                        background-image: linear-gradient(to right, black , orange);
                    }
                }
            }
        }
        
    }
}

/* .container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orange;
    clip-path: circle(1 50px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "Bukee";
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
   
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    border-radius: 20PX;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {  
    background: #B90000;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 

.container .card .contentBx .buy .price{
    font-size: 25px;
    color: white;
} */