.name{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px;
    margin-left: 10px;
    color: black;
    font-weight: 600;
    display:flex;
    position: relative;
    &:before {
      content:'';
      opacity:0.3;
      height: 1px;
      position:absolute;
    }
    .letter {
      display:inline-block;
      opacity:0;
      transform:scale(0.9);
    }
  }

@media(max-width:768px){
    .name{
        font-size: 35px;
        margin-left: 20px;
        
    }
}