@mixin naranjaPregunta {
    background-color: rgba(255, 166, 0, 0.678);
    width: 90%;
    margin: 0 auto;
}

@mixin oscuraPregunta {
    background-color: rgba(136, 88, 0, 0.685);
    color: map-get($map: $estilo, $key: colorLetra);
    width: 80%;
    margin: 0 auto;
}