.modal{
    .whatsapp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #095e54;
        color: white;
        .btn-close{
            margin: auto 10px;
    
        }
    }
    .modal-bodyWp{
        background-color: rgb(230, 221, 212);
        .chat{
            background-color: white;
            width: 250px;
            height: 100px;
            margin: 10px;
            border-radius: 5px;
            .nombreChat{
                font-size: 20px;
                margin: 5px;
                color: rgb(85, 85, 85);
            }
            .mensaje{
                margin-left: 10px;
            }
            .hora{
                text-align: right;
                margin-right: 5px;
            }
        }
    }
    .modal-footer{
        .btnChat{
            width: 80%;
            margin: 0 auto;
            background-color: #4fce5d ;
            border-radius: 15px;
            color: white;
            border: #4fce5d ;
            height: 40px;
        }
    }
}




